/*Cambios Generales*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*Body*/
body {
  color: #05233b;
  font-family: 'Ultra', serif; }

/*Logo*/
.logo {
  border-radius: 56px;
  width: 60px;
  height: 60px; }

.enlace {
  position: absolute;
  padding: 20px 50px; }

/*Imagenes Generales*/
.img-general {
  max-width: 100%;
  height: 210px; }

h1 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

/*MENU*/
.barra nav {
  background-image: linear-gradient(to top, white, #2d7ab9, #05233b);
  height: 100px;
  width: 100%; }
  .barra nav ul {
    float: right;
    margin-right: 20px; }
    .barra nav ul li {
      display: inline-block;
      line-height: 100px;
      margin: 0 5px; }
      .barra nav ul li a {
        font-family: sans-serif;
        text-decoration: none;
        color: white;
        font-size: 18px;
        padding: 7px 13px;
        border-radius: 2px;
        text-transform: uppercase; }

i a.active, li a:hover {
  color: white;
  background: #05233b;
  transition: 3s; }

.checkbtn {
  font-size: 30px;
  float: right;
  line-height: 100px;
  margin-right: 50px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

/*@Media*/
@media (max-width: 800px) {
  .enlace {
    padding-left: 20px; }
  nav ul li a {
    font-size: 16px; }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .iconos div img {
    width: 120px;
    height: 120px; } }

@media (max-width: 720px) {
  .checkbtn {
    display: block; }
  ul {
    position: fixed;
    width: 100%;
    height: 70%;
    background: #05233b;
    top: 90px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 10;
    font-family: sans-serif; }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px; }
    nav ul li a {
      font-size: 20px; }
  li a:hover {
    background: none; }
  #check:checked ~ ul {
    left: 0; }
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .iconos {
    display: flex;
    flex-direction: column; }
    .iconos div img {
      width: 65px;
      height: 65px; } }

/*Carousel*/
.slide {
  margin-top: 10px; }
  .slide img {
    height: 50vh; }

.carousel__parrafo h5 {
  font-size: 26px;
  font-family: sans-serif;
  padding: 5px;
  background-color: #05233b;
  border-radius: 16px;
  display: inline-block; }

.carousel__parrafo p {
  font-size: 19px;
  font-family: sans-serif;
  padding: 4px 20px;
  background-color: #05233b;
  border-radius: 16px; }

/*General*/
.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  margin-top: 8%; }

.contain__info {
  width: 308px;
  height: 410px;
  background: #476279;
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 11px 17px #05233b;
  margin-top: 5%;
  border-radius: 9px; }

.info--link {
  font-family: 'Ultra', serif;
  text-align: center;
  font-size: 19px;
  color: white;
  padding: 15px; }

.info--link img {
  transition: 0.3s; }

.info--link:hover img {
  transform: scale(1.2); }

.span a {
  text-decoration: none;
  font-size: 17px;
  display: inline-block; }
  .span a p {
    background: #05233b;
    border-radius: 9px;
    color: white; }

/*Page*/
.pagination {
  justify-content: center;
  background-color: #efefef; }

/*seccion*/
.nosotros {
  margin-top: 20px;
  margin-bottom: 20px; }
  .nosotros h2 {
    font-weight: 300;
    text-align: center; }

.iconos {
  display: flex;
  justify-content: center; }
  .iconos div {
    flex-basis: calc(33.3% - 1rem);
    text-align: center; }
    .iconos div h3 {
      text-align: center;
      text-transform: uppercase; }

/*Catalogo*/
.container {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px; }

.item {
  cursor: pointer;
  box-shadow: 0 0 15px #2d7ab9;
  transition: 0.3s; }

.btn {
  padding: 0 6px;
  border-radius: 5px;
  background-color: #05233b; }
  .btn a {
    text-decoration: none;
    color: white;
    font-size: 19px; }

.item:hover {
  transform: scale(1.05); }

.item-text {
  padding: 1rem;
  text-align: center; }
  .item-text span {
    margin-top: 10%; }

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr); } }

/*Footer*/
.pie-pagina {
  color: white;
  width: 100%;
  background-color: #05233b; }
  .pie-pagina .grupo {
    width: 100%;
    max-width: 1250px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 25px 0px; }

.box1 figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .box1 figure img {
    border-radius: 56px; }

.box2 p {
  color: rgba(219, 219, 219, 0.979);
  margin-bottom: 10px; }

.box2 h2 {
  margin-bottom: 25px;
  font-size: 20px; }

.red-sociales a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px; }
  .red-sociales a img {
    border-radius: 8px; }

.pie-pagina .copy {
  text-align: center;
  background-color: #1f5680;
  padding: 12px 10px; }

@media (max-width: 768px) {
  .pie-pagina .grupo {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 15px 0px; } }

/*Contacto*/
.contacto {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 100px; }

.contacto:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../imagen/laptopfondo.jpg") no-repeat center;
  background-size: cover;
  z-index: -1;
  filter: blur(1px); }

.cont-1 {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.26); }

.contl {
  height: 100%;
  background: url("../imagen/laptops.jpg");
  background-size: cover; }

.contr {
  padding: 25px 40px; }
  .contr h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px; }

.from {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s; }

.from:hover {
  background-color: rgba(0, 0, 0, 0.1); }

.but {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #2d7ab9;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  transition: 0.3s; }

.but:hover {
  background-color: #05233b; }

@media (max-width: 768px) {
  .cont-1 {
    grid-template-columns: 1fr; }
    .cont-1 .contl {
      height: 205px; } }

@media (max-width: 375px) {
  .cont-1 {
    grid-template-columns: 1fr; }
    .cont-1 .contl {
      height: 221px;
      width: 221px; } }
